<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
              <div class="card card-solicitud flex-row my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Detalle de la Solicitud</h5>

                    <h4>Solicitante: </h4> 
                    <label>{{usuario?.nombreUsuario}} {{usuario?.apellidosUsuario}}</label>
                    <br>
                    <h4>Servicio Solicitado: </h4> 
                    <label>{{servicio?.nombreServicio}}</label>
                    <br>
                    <h4>Fecha en la que se realizó la Solicitud: </h4> 
                    <label>{{solicitud?.fechaServSol | date:'dd-MM-yyyy'}}</label>
                    <br>
                    <h4>Comentarios del cliente: </h4> 
                    <label>{{solicitud?.comentario}}</label>
                    <br>
                    <h4>Estado actual: </h4>
                    <label>{{data?.estado?.estadoNombre}}</label>
                    <br>
                    <br>
                    <div *ngIf = "this.status?.estadoID != 6 && this.status?.estadoID != 3 && this.status?.estadoID != 7">
                    <h4>Cambiar estado</h4>
                    <br>
                      <form [formGroup]="cambio" (ngSubmit)="onSubmit()">
                        <select formControlName = "estadoID" class="form-control">
                          <option *ngFor="let e of estados" [ngValue]="e.estadoID">{{e.estadoNombre}}</option>
                      </select>
                      <button type="submit"  class="btn btn-lg btn-primary btn-block text-uppercase" >GUARDAR</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
</body>