
<body>
  <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
              <div class="card card-caracteristica flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                   <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center">Agregar Características</h5>
                        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="form-caracteristica" autocomplete="off">
                        <div class="form-row">
                            <div class="form-group">
                              <label>Tipo de Característica de proyecto</label>
                              <select formControlName="tipoCarProyecto" class="form-control" aria-placeholder="Seleccione una opcion" id="select">
                                  <option value="" selected="selected"></option>
                                  <option value="Distribucion">Distribución</option>
                                  <option value="Amenidades">Amenidades</option>
                                  <option value="Seguridad">Seguridad</option>
                                  <option value="DescripciónG">Descripción General</option>
                                  <option value="DescripcionA">Descripción de Apartamento</option>
                                  <option value="Otros">Otros</option>
                              </select>
                            </div>
                        </div>

                      <div class="form-row">
                          <div class="form-group">
                            <label>Característica</label>
                            <input id="carNombre" formControlName="carNombre" type="text"  class="form-control" minlength="3" maxlength="20" required/> 
                            <div *ngIf="addForm.controls['carNombre'].errors && addForm.controls['carNombre'].touched" class="validation-error">
                              <div [hidden] = "!addForm.controls['carNombre'].errors.required">
                                El campo es requerido
                              </div>
                              <div [hidden] = "!addForm.controls['carNombre'].errors.minlength">
                                El campo requiere mas de 3 caracteres  
                              </div>
                              <div [hidden] = "!addForm.controls['carNombre'].errors.maxlength">
                                El nombre debe tener menos de 20 caracteres  
                              </div>
                            </div>
                          </div>
                      </div>

                      <div class="form-row">
                          <div class="form-group">
                            <label>Descripción</label>
                            <textarea formControlName="carDescripcion" type="text" class="form-control" minlength="9" maxlength="150"  required></textarea>
                            <div *ngIf="addForm.controls['carDescripcion'].errors && addForm.controls['carDescripcion'].touched" class="validation-error">
                                <div [hidden] = "!addForm.controls['carDescripcion'].errors.required">
                                    El campo es requerido
                                  </div>
                                  <div [hidden] = "!addForm.controls['carDescripcion'].errors.minlength">
                                    El campo requiere mas de 9 caracteres  
                                  </div>
                                  <div [hidden] = "!addForm.controls['carDescripcion'].errors.maxlength">
                                    El nombre debe tener menos de 50 caracteres  
                                  </div>
                            </div>
                          </div>
                      </div>
                      <button type="submit" [disabled]="addForm.invalid" class="btn btn-lg btn-primary btn-block text-uppercase" >GUARDAR</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
  </body>

