<body>
<div class="container">
  <div class="row">
    <header>
      <h1>Listar contenido</h1>
    </header>
    <hr>
    <main class="row">
      <form class="col-6"> 
        <label>Seleccione el tipo de contenido que desea listar</label>
        <select (change)="Select($event)" class="form-control" aria-placeholder="Seleccione una opcion" id="select">
            <option value="" selected="selected"></option>
            <option value="Proyectos">Proyectos</option>
            <option value="Inmuebles">Inmuebles</option>
            <option value="Caracteristicas">Caracteristicas</option>
            <option value="Servicios">Servicios</option>
        </select>
      </form>

      <hr>

      <div class="tabla">
      <table class="table table-bordered">
        <div *ngIf="value == 'Proyectos'">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Proyecto</th>
              <th scope="col">Fecha de terminacion</th>
              <th scope="col">Direccion</th>
              <th scope="col">Caracteristicas</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of data | paginate: { itemsPerPage: 5, currentPage: p } ; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{d.nombreProyecto}}</td>
              <td>{{d.fechaTerminacion |date:'dd/MM/yyyy'}}</td>
              <td>{{d.direccion}}</td>
              <td><a routerLink="/proyecto-caracteristica/{{d.proyectoID}}" class= "carac"><i class="fas fa-plus-square fa-2x"></i></a></td>
              <td><button (click)="updateProject(d)" type="button" class="btn btn-secondary btn-sm"><i class="material-icons">edit</i></button></td>
              <td><button (click)="eliminar(d)" type="button" class="btn btn-danger btn-sm eliminar "><i class="material-icons">delete</i></button></td>
            </tr>
          </tbody>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <div *ngIf="value == 'Inmuebles'">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Inmueble</th>
                <th scope="col">Precio</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of data | paginate: { itemsPerPage: 5, currentPage: p } ; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{d.nombreInmueble}}</td>
                <td>{{d.precio}}</td>
                <td>{{d.descripcionInmueble}}</td>
                <td><button (click)="updateProject(d)" type="button" class="btn btn-secondary btn-sm "><i class="material-icons">edit</i></button></td>
                  <td><button (click)="eliminar(d)" type="button" class="btn btn-danger btn-sm eliminar "><i class="material-icons">delete</i></button></td>
              </tr>
            </tbody>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
          <div *ngIf="value == 'Caracteristicas'">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Caracteristicas</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Eliminar</th>
                
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of data  | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{d.carNombre}}</td>
                  <td>{{d.carDescripcion}}</td>
                  <td><button (click)="updateProject(d)" type="button" class="btn btn-secondary btn-sm "><i class="material-icons">edit</i></button></td>
                  <td><button (click)="eliminar(d)" type="button" class="btn btn-danger btn-sm eliminar "><i class="material-icons">delete</i></button></td>
                </tr>
              </tbody>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
            <div *ngIf="value == 'Servicios'">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre del Servicio</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Eliminar</th>
                
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of data  | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{d.nombreServicio}}</td>
                  <td>{{d.descripcionServicio}}</td>
                  <td><button (click)="updateProject(d)" type="button" class="btn btn-secondary btn-sm "><i class="material-icons">edit</i></button></td>
                  <td><button (click)="eliminar(d)" type="button" class="btn btn-danger btn-sm eliminar "><i class="material-icons">delete</i></button></td>
                </tr>
              </tbody>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>

      </table>

    </div>

    </main>
  </div>



  




</div>
</body>

