body{
    padding-left: 400px;
    padding-top: 100px;
}

label{
    font-size: 15px;
}

input{
    border-radius: .3rem;
}


h1{
    padding-top: 50px;
    text-align: center; 
}

img{
    width: 270px;
    height: 270px;
}

table{
    width: 500px;
    padding-top: 50px;

}

.tabla{
    padding-top: 40px;

    
}

table button{
    width: auto;

}

table button .eliminar{
    width: auto;

}  