<div class="container">
  <div class="row">
    <header>
      <h1>Administrar solicitudes</h1>
    </header>
    <hr>
    <main class="row">
      <form class="col-6"> 
        <label>Seleccione el tipo de contenido que desea editar</label>
        <select (change)="Select($event)" class="form-control" aria-placeholder="Seleccione una opcion" id="select">
            <option value="" selected="selected"></option>
            <option value="Proyectos">Proyectos</option>
            <option value="Inmuebles">Inmuebles</option>
            <option Value="Caracteristicas">Caracteristicas</option>
        </select>
      </form>

      <hr>

      <div class="tabla">
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Solicitudes</th>
            <th scope="col">Tipo</th>
            <th scope="col">Fecha</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Proyecto 1 </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Proyecto 2</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Proyecto 3</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Proyecto 4</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Proyecto 5</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Proyecto 6</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Proyecto 7</td>
          </tr>
        </tbody>
  
      </table>
      </div>
    </div>

    <button type="button" class="btn btn-success btn-sm eliminar ">Ver mas</button>

    </main>
  </div>



  




</div>

