<body>
    <div class="container">
      <div class="row">
        <header>
          <h1>Administrar solicitudes</h1>
        </header>
        <hr>
        <main class="row">
          <div class="tabla">
          <table class="table table-bordered">
            <div>
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Servicio</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Fecha</th>
                
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of data | paginate: { itemsPerPage: 5, currentPage: p } ; let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{d.servicio.nombreServicio}}</td>
                  <td>{{d.estado.estadoNombre}}</td>
                  <td>{{d.solicitud.fechaSol}}</td>
                  <td><button (click)="verMas(d)" class="btn btn-success btn-sm ">Ver mas</button></td>
                </tr>
              </tbody>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
            
          </table>

    
        </div>
    
        </main>
      </div>
    
    
    
      
    
    
    
    
    </div>
    </body>
    
    