<div class="container">
    <div class="col">
      <header>
          <h1>Agregar Caracteristicas</h1>
      </header>
      <main class="row">
        <img src='' class ="col-6">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="col-6" autocomplete="off">
            <label>Caracteristica</label>
            <input id="carNombre" formControlName="carNombre" type="text"  class="form-control" required/> 
            <div *ngIf="addForm.controls['carNombre'].invalid && addForm.controls['carNombre'].touched" class="validation-error">Este campo es requerido</div>
            <hr>
            <label>Descripcion</label>
            <input formControlName="carDescripcion" type="text" class="form-control"  required/>
            <div *ngIf="addForm.controls['carDescripcion'].invalid && addForm.controls['carDescripcion'].touched" class="validation-error">Este campo es requerido</div>
            <hr>
            <button type="submit" [disabled]="addForm.invalid" class="btn btn-success">Save</button>
        </form>
      </main>
    </div>
  </div>