.container{
    max-width: 70%;
    padding-top: 5%;
    padding-left: 25%;
}

label{
    font-size: 15px;
}

input{
    border-radius: .3rem;
}


h1{
    padding-top: 50px;
    text-align: center; 
}

img{
    width: 270px;
    height: 270px;
}

table{
    width: 500px;
    padding-top: 50px;

}

.tabla{
    padding-top: 40px;

    
}

table button{
    width: auto;

}

table button .eliminar{
    width: auto;

}

/* main{
    padding-top: 10px;
    padding-left: 40px;
} */

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
  }
  .table-wrapper-scroll-y {
    display: block;
  }
