
<div class="container">
  <div class="col">
    <header>
      <h1>Listar contenido</h1>
    </header>
    <main class="row">
      <img src="../../assets/editar.png" class="col-6">
      <form class="col-6"> 
        <label>Seleccione el tipo de contenido que desea editar</label>
        <select class="form-control" id="Ubicacion" aria-placeholder="Seleccione una opcion" id="select">
            <option>Proyectos</option>
            <option>Inmuebles</option>
            <option>Caracteristicas</option>
        </select>
      </form>
    </main>

  </div>





</div>