
<div class="container">
  <div class="col">
    <header>
      <h1>Listar contenido</h1>
    </header>
    <main class="row">
      <img src="../../assets/editar.png" class="col-6">
      <form class="col-6"> 
        <label>Seleccione el tipo de contenido que desea editar</label>
        <select (change)="Select($event)" class="form-control" aria-placeholder="Seleccione una opcion" id="select">
            <option value="" selected="selected"></option>
            <option value="Proyectos">Proyectos</option>
            <option value="Inmuebles">Inmuebles</option>
            <option Value="Caracteristicas">Caracteristicas</option>
        </select>

      <hr>
      <table>
        <tr *ngFor="let d of data">
          <td>{{d.nombreProyecto}}</td>
          <td>{{d.fechaTerminacion}}</td>
          <td>{{d.direccion}}</td>
          <td>{{d.descripcionInmueble}}</td>
          <td><button (click)="eliminar(d.proyectoID)" class="btn btn-sm btn-outline-danger">Eliminar</button></td>
          <td><button (click)="/editar-proyecto/{{d.proyectoID}}" class="btn btn-sm btn-outline-success">Editar</button></td>
        </tr>
      </table>
      </form>
    </main>
  </div>





</div>