<!-- <div id="content">
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-align-left"></i>
              <span class="d-none">Administrar</span>
          </button>
          
              <ul class="nav navbar-nav ml-auto">
                  <li>
                          <button type="button" class="btn btn-info d-none d-lg-block" id="blog">
                                  <p>Blog</p>
              
                              </button>
                  </li>
                  <li>
                      <button type="button" class="btn btn-info d-none d-lg-block" id="foro">
                                      <p>Foro</p>
                  
                                  </button>
                  </li>
                  <li class="nav-item active">
                      <i class="fas fa-user"></i>
                  </li>
                  <li class="nav-item usuario">
                      <a class="nav-link d-none d-lg-block" href="#">Carlos Martinez</a>
                  </li>
              </ul>
              <ngb-accordion class="d-inline-block d-lg-none ml-auto" id="acordion"  #acc="ngbAccordion" >
                      <ngb-panel title="Servicios" >
                          <ng-template ngbPanelContent >
                              <li>
                                      <button type="button" class="boton" >
                                              <p>Blog</p>
                                          </button>
                              </li>
                              <li>
                                      <button type="button" class="boton" >
                                              <p>Foro</p>
                                          </button>
                              </li>
                          </ng-template>
                      </ngb-panel>
                  </ngb-accordion>
      </div>
  </nav>

  

</div>  -->