.container{
    position: center;
    max-height: 1500px;
    max-width: 1000px;
    /* padding-left: 600px;
    padding-bottom: 50px; */
}

body{
    padding-left:500px;

}



label{
    font-size: 15px;
}

input.ng-touched.ng-invalid{
    border-radius: .3rem;
    border-color: #dc3545;
}

h1{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center; 
}

select.ng-touched.ng-invalid{
    border-radius: .3rem;
    border-color: #dc3545;
}

div.validation-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;

}

