<ul class="nav nav-pills">
  <li class="active"><a data-toggle="pill" class="general" href="#home">Información General</a></li>
  <li><a data-toggle="pill" href="#menu1">Certificación de Avalúo</a></li>
  <li><a data-toggle="pill" href="#menu2">Informe de Avalúo</a></li>
  <li><a data-toggle="pill" href="#menu3">Descripción de la Vecindad</a></li>
  <li><a data-toggle="pill" href="#menu4">Descripción de la Zona</a></li>
  <li><a data-toggle="pill" href="#menu5">Descripción de las Mejoras</a></li>
  <li><a data-toggle="pill" href="#menu6">Descripción interior propiedad</a></li>
  <li><a data-toggle="pill" href="#menu7">----</a></li>
  <li><a data-toggle="pill" href="#menu8">Distribución de las Habitaciones</a></li>
  <li><a data-toggle="pill" href="#menu9">Metodología de Ventas Comparables de Mercado</a></li>
  <li><a data-toggle="pill" href="#menu10">Enfoque de Ventas Comparables</a></li>



</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
      <h3>Información General</h3>
    <form>
      <div class="form-group">
        <label>Descripción del Apartamento o Inmueble</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Descripción">
      </div>
      <div class="form-group">
        <label >Nombre del Tasador</label>
        <input input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el nombre">
        </div>
          <div class="form-group">
              <label >Nombre del Asesor</label>
              <input input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el nombre">
              </div>
            <div class="form-group">
                <label >Nombre del Técnico</label>
                <input input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el nombre">
                </div>
                <div class="form-group">
                    <label>Dirección de la Constructora</label>
                    <input input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la dirección">
                    </div>
                    <div class="form-group">
                        <label>Teléfono de la Constructora</label>
                        <input type='text'  mask="(000) 000 0000" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el teléfono">
                        </div>
                        <div class="form-group">
                            <label >Correo de la Constructora</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          </div>
                          <div class="form-group">
                              <label>Nombre del Cliente</label>
                              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el nombre">
                              </div>
                              <div class="form-group">
                                  <label>Fecha</label>
                                  <input type="date" class="form-control">
                                  </div>
                                  <div class="form-group">
                                      <label>Ciudad</label>
                                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la ciudad">
                                      </div>
                                      <div class="form-group">
                                          <label>País</label>
                                          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el país">
                                          </div>
                                          <div class="form-group">
                                              <label>Nombre del Banco</label>
                                              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el nombre">
                                              </div>
                                              <button type="submit" class="btn btn-primary">Guardar</button>
                                            </form>
                                          </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Certificación de avalúo</h3>
    <form>
        <div class="form-group">
          <label>Designación Catastral No</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el número catastral">
        </div>
        <div class="form-group">
          <label >Matrícula</label>
          <input input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la matrícula">
          </div>
          <div class="form-group">
              <label>Precio</label>
              <input input type="text" mask= "comma_separator" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el precio">
              </div>
              <div class="form-group">
                  <label>Precio en Letra</label>
                  <input type='text'  mask="(000) 000 0000" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el teléfono">
                  </div>
                  <button type="submit" class="btn btn-primary">Guardar</button>
                  </form>

  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Informe de avalúo</h3>
    <form>
        <div class="form-group">
          <label>Propietario</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el nombre">
        </div>
        <div class="form-group">
          <label >Valuador</label>
          <input input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el nombre">
        </div>
        <div class="form-group">
          <label>Dirección</label>
          <input input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la dirección">
        </div>
        <div class="form-group">
            <label>Teléfono</label>
            <input type='text'  mask="(000) 000 0000" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el teléfono">
          </div>
          <div class="form-group">
              <label>Nombre del Cliente</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el nombre del cliente">
          </div>
          <div class="form-group">
            <label>Derechos de propiedad avaluada</label><br>
            <input type="radio" name="propiedad" value="dominio">Pleno dominio.<br>
            <input type="radio" name="propiedad" value="inmueblealquilado">Inmueble alquilado.<br>
            <input type="radio" name="propiedad" value="condominio">Condominio.<br>
            <input type="radio" name="propiedad" value="oupacion">Ocupación/Invasión.<br>
            <input type="radio" name="propiedad" value="otro">Otro/Especifique.
        </div>
        <div class="form-group">
          <label>Ocupado por</label><br>
          <input type="radio" name="propiedad" value="propietario">Propietario.<br>
          <input type="radio" name="propiedad" value="inquilino">Inquilino.<br>
          <input type="radio" name="propiedad" value="desocupado">Desocupado.
      </div>
      <div class="form-group">
        <label>Utilidad del inmueble</label>
        <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la utilidad del inmueble">
       </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
  </div>
  
  <div id="menu3" class="tab-pane fade">
      <h3>Descripción de la vecindad</h3>
      <form>
          <div class="form-group">
              <label>Tipo de vecindad</label><br>
              <input type="radio" name="tipo" value="urbano">Urbano.<br>
              <input type="radio" name="tipo" value="rural">Rural.<br>
              <input type="radio" name="tipo" value="mixto">Mixto.<br>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros">
          </div>

          <div class="form-group">
              <label>Tendencia de la vecindad</label><br>
              <input type="radio" name="vecindad" value="mejorar">A mejorar.<br>
              <input type="radio" name="vecindad" value="estable">Estable.<br>
              <input type="radio" name="vecindad" value="empeorar">A empeorar.<br>
              <input type="radio" name="vecindad" value="tansicion">En transición.
          </div>

          <div class="form-group">
              <label>Comparación con la propiedad del vecindario</label><br>
              <input type="radio" name="vecindario" value="urbano">Inferior.<br>
              <input type="radio" name="vecindario" value="rural">Similar.<br>
              <input type="radio" name="vecindario" value="mixto">Superior.<br>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros">
          </div>

          <div class="form-group">
              <label>Antigüedad promedio de las propiedades del vecindario</label>
              <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la antigüedad promedio de las propiedades del vecindario">
          </div>

          <div class="form-group">
              <label>Área construida</label>
              <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el área construida">
          </div>

          <div class="form-group">
              <label>Oferta </label><br>
              <input type="radio" name="oferta" value="mucha">Mucha.<br>
              <input type="radio" name="oferta" value="razonable">Razonable.<br>
              <input type="radio" name="oferta" value="poca">Poca.
          </div>

          <div class="form-group">
              <label>Demanda</label><br>
              <input type="radio" name="demanda" value="mucha">Mucha.<br>
              <input type="radio" name="demanda" value="razonable">Razonable.<br>
              <input type="radio" name="demanda" value="poca">Poca.
          </div>

          <div class="form-group">
              <label>Deseabilidad de la propiedad</label><br>
              <input type="radio" name="propiedad" value="mucha">Mucha.<br>
              <input type="radio" name="propiedad" value="razonable">Razonable.<br>
              <input type="radio" name="propiedad" value="poca">Poca.
          </div>

          <div class="form-group">
              <label>Distancia a Escuela Primaria</label>
              <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la distancia a Escuela Primaria">
          </div>

          <div class="form-group">
              <label>Distancia a Escuela Secundaria</label>
              <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la distancia a Escuela Secundaria.">
          </div>

          <div class="form-group">
              <label>Distancia al Transporte Público</label>
              <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la distancia al Transporte Público.">
          </div>

          <div class="form-group">
              <label>Distancia a Comercios</label>
              <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la distancia a Comercios.">
          </div>

          <div class="form-group">
              <label>Distancia a Centro de la ciudad</label>
              <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la distancia a Centro de la ciudad.">
          </div>




      <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>

    <div id="menu4" class="tab-pane fade">
        <h3>Descripción de la zona</h3>
        <form>
            <div class="form-group">
                <legend>Límites Naturales</legend> 
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca los límites naturales">
            </div>

            <div class="form-group">
              <fieldset>
                <legend>La zona posee</legend><br>
                <input type="radio" name="e" value="callepavimentada">Calle Pavimentada.<br>
                <input type="radio" name="e" value="callesinpavimentar">Calle sin Pavimentar.<br>
                <input type="radio" name="e" value="acera">Acera.<br>
                <input type="radio" name="e"  value="contenes">Contenes.<br>
                <input type="radio" name="e" value="alumbradoelectrico">Alumbrado Electrico.<br>
                <input type="radio" name="e" value="televisionporcable">Television por Cable.<br>
                <input type="radio" name="e" value="telefono">Telefono.<br>
                <input type="radio" name="e" value="gas">Gas.<br>
                <input type="radio" name="e" value="aguapotable">Agua Potable.<br>
                <input type="radio" name="e" value="pozoprivado">Pozo Privado.<br>
                <input type="radio" name="e" value="pozopublico">Pozo Publico.<br>
                <input type="radio" name="e" value="alcantarillasanitario">Alcantarillado Sanitario.<br>
                <input type="radio" name="e" value="pozoseptico">Pozo Séptico.<br>
                <input type="radio" name="e" value="alcantarillapluvial">Alcantarilla Pluvial<br>
                <input type="radio" name="e"  value="dranajedezanjasabiertas">Drenaje de Zanjas abiertas<br>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros">
              </fieldset>
            </div>

            <div class="form-group">
                <label>Área</label>
                <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el área">
            </div>

            <div class="form-group">
                <label>Fuente</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la fuente">
            </div>

            <div class="form-group">
                <label>Topografía</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la topografía">
            </div>

            <div class="form-group">
                <label>Configuración</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la configuración">
            </div>

            <div class="form-group">
                <label>Zonificación</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la zonificación">
            </div>

            <div class="form-group">
                <label>Esta conforme con el uso actual de la propiedad</label><br>
                <input type="radio" name="conforme" value="si">Si.<br>
                <input type="radio" name="conforme" value="no">No. 
            </div>

            <div class="form-group">
              <fieldset>
                <legend>Paisajismo o área verdes</legend><br>
                <input type="radio" name="u" value="excelente">Excelente.<br>
                <input type="radio" name="u" value="buena">Buena. <br>
                <input type="radio" name="u" value="muybuena">Muy Buena.<br>
                <input type="radio" name="u" value="regular">Regular. <br>
                <input type="radio" name="u" value="mala">Mala.<br>
                <input type="radio" name="u" value="inexistente">Inexistente.  
              </fieldset>
            </div>
            
            <div class="form-group">
              <fieldset>
                <legend>Paisajismo o área verdes</legend><br>
                <input type="radio" name="paisajismo" value="serviciopublico">Servicios Públicos.<br>
                <input type="radio" name="paisajismo" value="depaso">De Paso. <br>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros"> 
              </fieldset>
            </div>

            <div class="form-group">
              <fieldset>
                <legend>Entrada y Salida de la Marquesina</legend><br>
                <input type="radio" name="propiedad" value="privada">Privada.<br>
                <input type="radio" name="propiedad" value="comun">Común. <br>
                <input type="radio" name="propiedad" value="ninguna">Ninguna.<br>
                <input type="radio" name="propiedad" value="unica">Única <br>
                <input type="radio" name="propiedad" value="doble">Doble.<br>
                <input type="radio" name="propiedad" value="adecuada">Adecuada. <br>
                <input type="radio" name="propiedad" value="pavimentada">Pavimentada.<br>
                <input type="radio" name="propiedad" value="hormigonestampado">Hormigon Estampado <br>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros"> 
              </fieldset>
            </div>

            <div class="form-group">
                <label>Instalación Eléctrica </label><br>
                <input type="radio" name="electrica" value="subterranea">Subterránea.<br>
                <input type="radio" name="electrica" value="enpostes">En Postes.<br>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros">
            </div>


            

          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
     </div>

     <div id="menu5" class="tab-pane fade">
        <h3>Descripción de las Mejoras</h3>
        <form>
            <div class="form-group">
                <label>Año de construcción estimado</label>
                <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el año de construcción estimado">
            </div>

            <div class="form-group">
                <label>Construcción terminada</label><br>
                <select>
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select>      
            </div>

            <div class="form-group">
                <label>Área por piso de apartamento </label><br>
                <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el año de construcción estimado Área por piso de apartamento">
            </div>

            <div class="form-group">
                <label> X total</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la X total">
            </div>

            <div class="form-group">
                <label> Tipo marco ventanas</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el tipo marco ventanas">
            </div>

            <div class="form-group">
                <label>Sótano</label><br>
                <input type="radio" name="sotano" value="subterranea">Completo.<br>
                <input type="radio" name="sotano" value="enpostes">Parcial.<br>
                <input type="radio" name="sotano" value="enpostes">Sótano de pequeña altura.<br>
                <input type="radio" name="sotano" value="enpostes">Área total.<br>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="m2">
            </div>

            <div class="form-group">
                <label>Tipo inmueble</label><br>
                <input type="radio" name="inmueble" value="subterranea">Asilado.<br>
                <input type="radio" name="inmueble" value="enpostes">En hileras Townhouse.<br>
                <input type="radio" name="inmueble" value="enpostes">Apartamento.<br>
                <input type="radio" name="inmueble" value="enpostes">Duplex.<br>
                <input type="radio" name="inmueble" value="enpostes">Triplex.<br>
                <input type="radio" name="inmueble" value="enpostes">Condominio. 
                
            </div>

            <div class="form-group">
                <label>Estructurado</label><br>
                <input type="radio" name="est" value="subterranea">Un piso.<br>
                <input type="radio" name="est" value="enpostes">2 Piso=.<br>
                <input type="radio" name="est" value="enpostes">Piso en desnivel.   
            </div>

            <div class="form-group">
                <label>Estructurado</label><br>
                <input type="radio" name="estu" value="subterranea">Un piso.<br>
                <input type="radio" name="estu" value="enpostes">2 Piso=.<br>
                <input type="radio" name="estu" value="enpostes">Piso en desnivel.   
            </div>

            <div class="form-group">
                <label>Material de construcción</label><br>
                <input type="radio" name="cons" value="subterranea">Madera.<br>
                <input type="radio" name="cons" value="enpostes">Acero.<br>
                <input type="radio" name="cons" value="enpostes">Bloques de H.A.<br>
                <input type="radio" name="cons" value="enpostes">Bloques de Hormigon Armado. 
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros">
            </div>

            <div class="form-group">
                <label>Material de techo</label><br>
                <input type="radio" name="techo" value="subterranea">Teja Asfaltica.<br>
                <input type="radio" name="techo" value="enpostes">Teja de Barro.<br>
                <input type="radio" name="techo" value="enpostes">Cubierta Metalica.<br>
                <input type="radio" name="techo" value="enpostes">Losa De H.A. <br>
                <input type="radio" name="techo" value="enpostes">Shingles de Cedro <br>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros">
            </div>

            <div class="form-group">
                <label>Revestimiento exterior</label><br>
                <input type="radio" name="ext" value="subterranea">Pañete cemento.<br>
                <input type="radio" name="ext" value="enpostes">Ladrillo Macizo.<br>
                <input type="radio" name="ext" value="enpostes">Piedra/Laja.<br>
                <input type="radio" name="ext" value="enpostes">Coralina. <br>
                <input type="radio" name="ext" value="subterranea">Pintura.<br>
                <input type="radio" name="ext" value="enpostes">Aluminio.<br>
                <input type="radio" name="ext" value="enpostes">Vinilo.<br>
                <input type="radio" name="ext" value="enpostes">Ladrillo aislante. 
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros">
            </div>

            <div class="form-group">
                <label>Condición general externa</label><br>
                <input type="radio" name="cond" value="buena">Buena. <br>
                <input type="radio" name="cond" value="muybuena">Muy Buena.<br>
                <input type="radio" name="cond" value="regular">Regular. <br>
                <input type="radio" name="cond" value="mala">Mala.<br>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros">
            </div>

            <div class="form-group">
                <label>Material del techo</label><br>
                <input type="radio" name="mat" value="subterranea">Madera.<br>
                <input type="radio" name="mat" value="enpostes">Acero.<br>
                <input type="radio" name="mat" value="enpostes">Bloques de H.A.<br>
                <input type="radio" name="mat" value="enpostes">Bloques de Hormigon Armado. 
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        </div>

        <div id="menu6" class="tab-pane fade">
            <h3>Descripción del Interior de la Propiedad</h3>
            <form>
                
                <div class="form-group">
                    <label>Pisos</label><br>
                    <input type="radio" name="piso" value="pisos">Granito<br>
                    <input type="radio" name="piso" value="pisos">Porcelanato<br>
                    <input type="radio" name="piso" value="pisos">Mármol<br>
                    <input type="radio" name="piso" value="pisos">Parquet<br>
                    <input type="radio" name="piso" value="pisos">Terrazo<br>
                    <input type="radio" name="piso" value="pisos">Alfombra<br>
                    <input type="radio" name="piso" value="pisos">Madera.<br>
                    <input type="radio" name="piso" value="pisos">Mosaico<br>
                    <input type="radio" name="piso" value="pisos">Cerámica<br>
                    <input type="radio" name="piso" value="pisos">Laminado de Vinillo<br>
                    <input type="radio" name="piso" value="pisos">Baldosas Vinílicas<br>
                </div>
    
                <div class="form-group">
                    <label>Distribución Arquitectónica</label><br>
                    <input type="radio" name="arqu" value="arq">Muy Buena<br>
                    <input type="radio" name="arqu" value="arq">Buena<br>
                    <input type="radio" name="arqu" value="arq">Regular<br>
                    <input type="radio" name="arqu" value="arq">Mala<br>
                    
                </div>
    
                <div class="form-group">
                    <label>Armarios</label><br>
                    <input type="radio" name="armarios" value="arm">Muy Buenos<br>
                    <input type="radio" name="armarios" value="arm">Buenos<br>
                    <input type="radio" name="armarios" value="arm">Regulares<br>
                    <input type="radio" name="armarios" value="arm">Malos<br> 
                </div>
    
                <div class="form-group">
                    <label>Dormitorios</label><br>
                    <input type="radio" name="dormitorios" value="dorm">Grandes<br>
                    <input type="radio" name="dormitorios" value="dorm">Medianos<br>
                    <input type="radio" name="dormitorios" value="dorm">Pequeños   
                </div>
    
                <div class="form-group">
                    <label>Baños (# de piezas)</label><br>
                    <input type="radio" name="ba" value="ba">2<br>
                    <input type="radio" name="ba" value="ba">3<br>
                    <input type="radio" name="ba" value="ba">4<br>
                    <input type="radio" name="ba" value="ba">5<br>
                </div>

                <div class="form-group">
                    <label>Baños</label><br>
                    <input type="radio" name="baa" value="baa">Muy Buenos<br>
                    <input type="radio" name="ba" value="ba">Buenos<br>
                    <input type="radio" name="ba" value="ba">Malos<br>
                    <input type="radio" name="ba" value="ba">Fabricados a Gusto del Cliente<br>
                </div>

                <div class="form-group">
                    <label>Condición General Interna</label><br>
                    <input type="radio" name="interna" value="int">Muy Buena<br>
                    <input type="radio" name="interna" value="int">Buena<br>
                    <input type="radio" name="interna" value="int">Regular<br>
                    <input type="radio" name="interna" value="int">Mala<br>
                </div>
    
                <div class="form-group">
                    <label>Material de techo</label><br>
                    <input type="radio" name="techo" value="subterranea">Teja Asfaltica.<br>
                    <input type="radio" name="techo" value="enpostes">Teja de Barro.<br>
                    <input type="radio" name="techo" value="enpostes">Cubierta Metalica.<br>
                    <input type="radio" name="techo" value="enpostes">Losa De H.A. <br>
                    <input type="radio" name="techo" value="enpostes">Shingles de Cedro <br>
                </div>
    
                <div class="form-group">
                    <label>Revestimiento exterior</label><br>
                    <input type="radio" name="ext" value="subterranea">Pañete cemento.<br>
                    <input type="radio" name="ext" value="enpostes">Ladrillo Macizo.<br>
                    <input type="radio" name="ext" value="enpostes">Piedra/Laja.<br>
                    <input type="radio" name="ext" value="enpostes">Coralina. <br>
                    <input type="radio" name="ext" value="subterranea">Pintura.<br>
                    <input type="radio" name="ext" value="enpostes">Aluminio.<br>
                    <input type="radio" name="ext" value="enpostes">Vinilo.<br>
                    <input type="radio" name="ext" value="enpostes">Ladrillo aislante. 
                </div>
    
                <div class="form-group">
                    <label>Condición general externa</label><br>
                    <input type="radio" name="cond" value="buena">Buena. <br>
                    <input type="radio" name="cond" value="muybuena">Muy Buena.<br>
                    <input type="radio" name="cond" value="regular">Regular. <br>
                    <input type="radio" name="cond" value="mala">Mala.<br>
                </div>

                <div class="form-group">
                    <label>Paredes Materiales</label><br>
                    <textarea name="textarea" rows="10" cols="50" placeholder="Detalles del material de las paredes"></textarea>
                  </div>

                  <div class="form-group">
                      <label>Techos Materiales</label><br>
                      <textarea name="textarea" rows="10" cols="50" placeholder="Detalles del material de los techos"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Otros Detalles</label><br>
                        <textarea name="textarea" rows="10" cols="50" placeholder="Escriba sobre otros detalles"></textarea>
                      </div>

                      <button type="submit" class="btn btn-primary">Guardar</button>
    
            </form>
            </div>

            <div id="menu7" class="tab-pane fade">
                <h3>----</h3>
                <form>
                    
                    <div class="form-group">
                        <label>Muros de Cimientos</label><br>
                        <input type="radio" name="muros" value="muros">H.A Vaciado<br>
                        <input type="radio" name="muros" value="muros">Bloques de H.A <br>
                        <input type="radio" name="muros" value="muros">Losa de H.A<br>
                        <input type="radio" name="muros" value="muros">Ladrillo y Piedra<br>
                        <input type="radio" name="muros" value="muros">N/A<br>
                    </div>
        
                    <div class="form-group">
                        <label>Instalación Sanitaria </label><br>
                        <input type="radio" name="sanitaria" value="sanitaria">Cobre<br>
                        <input type="radio" name="sanitaria" value="sanitaria">PVC<br>
                        <input type="radio" name="sanitaria" value="sanitaria">Galvanizado<br>
                        
                    </div>
        
                    <div class="form-group">
                        <label>??</label><br>
                        <input type="radio" name="cis" value="cis">Cisterna<br>
                        <input type="radio" name="cis" value="cis">Jacuzzy<br>
                        <input type="radio" name="cis" value="cis">Piscina<br>
                    </div>
        
                    <div class="form-group">
                        <label>Calentador de Agua</label><br>
                        <input type="radio" name="calentador" value="calentador">Gas<br>
                        <input type="radio" name="calentador" value="calentador">Eléctrico<br>
                        <input type="text" name="calentador" value="capacidad" placeholder="Capacidad"><br>
                    </div>
        
                    <div class="form-group">
                        <label>Sistema Eléctrico</label><br>
                        <input type="radio" name="se" value="se">Fusibles<br>
                        <input type="radio" name="se" value="se">Breakers<br>
                        <input type="radio" name="se" value="se">Inversor en Areas Comunes<br>
                        
                    </div>
    
                    <div class="form-group">
                        <label>Artefactos Empotrados e Instalaciones Adicioneales</label><br>
                        <input type="checkbox" name="emp" value="emp">Alarmas de Robo<br>
                        <input type="checkbox" name="emp" value="emp">Alarmas de Incendio<br>
                        <input type="checkbox" name="emp" value="emp">Verja Perimetral<br>
                        <input type="checkbox" name="emp" value="emp">Barrera de Alambre de Pua<br>
                        <input type="checkbox" name="emp" value="emp">Eliminador de Basura<br>
                        <input type="checkbox" name="emp" value="emp">Chiemenea<br>
                        <input type="checkbox" name="emp" value="emp">Sauna<br>
                        <input type="checkbox" name="emp" value="emp">Tratamiento de Agua<br>
                        <input type="checkbox" name="emp" value="emp">Tragaluces/Domos<br>
                        <input type="checkbox" name="emp" value="emp">Gas Común<br>
                        <input type="checkbox" name="emp" value="emp">Puerta de Garaje Automática<br>
                        <input type="checkbox" name="emp" value="emp">Intercom<br>
                    </div>

                    <button type="submit" class="btn btn-primary">Guardar</button>
        
                </form>
                </div>

                <div id="menu8" class="tab-pane fade">
                    <h3>Distribución de las Habitaciones</h3>
                    <form>
                        
                        <div class="form-group">
                            <label>Piso</label><br>
                            <input type="text" name="pisoo" placeholder="No. de piso"><br>
                        </div>

                        <div class="form-group">
                            <label>Habitaciones</label><br>
                            <input type="text" mask="00" name="habi" value="habi" placeholder="No. de habitaciones"><br>
                        </div>

                        <div class="form-group">
                            <label>Entrada</label><br>
                            <input type="text" mask="00" name="entrada" value="entrada" placeholder="No. de entradas"><br>
                        </div>

                        <div class="form-group">
                            <label>Sala de Estar</label><br>
                            <input type="text" mask="00" name="sala" value="sala" placeholder="No. de salas"><br>
                        </div>

                        <div class="form-group">
                            <label>Comedor</label><br>
                            <input type="text" mask="00" name="comedor" value="comedor" placeholder="No. de comedores"><br>
                        </div>

                        <div class="form-group">
                            <label>Cocina</label><br>
                            <input type="text" mask="00" name="cocina" value="cocina" placeholder="No. de habitaciones"><br>
                        </div>

                        <div class="form-group">
                            <label>Baño Completo</label><br>
                            <input type="text" mask="00" name="bc" value="bc" placeholder="No. de Baños completos"><br>
                        </div>

                        <div class="form-group">
                            <label>Baño Parcial</label><br>
                            <input type="text" mask="00" name="bp" value="bp" placeholder="No. de baños parciales"><br>
                        </div>

                        <div class="form-group">
                            <label>Terraza Descubierta</label><br>
                            <input type="text" mask="00" name="terraza" value="terraza" placeholder="No. de terrazas"><br>
                        </div>

                        <div class="form-group">
                            <label>Lavandería</label><br>
                            <input type="text" mask="00" name="lavanderia" value="lavanderia" placeholder="No. de lavanderías"><br>
                        </div>

                        <div class="form-group">
                            <label>Cuarto de Servicios</label><br>
                            <input type="text" mask="00" name="servic" value="servic" placeholder="No. de cuartos de servicios"><br>
                        </div>

                        <div class="form-group">
                            <label>Parqueos</label><br>
                            <input type="text" mask="00" name="parqueo" value="parqueo" placeholder="No. de parqueos"><br>
                        </div>

                        <button type="submit" class="btn btn-primary">Guardar</button>
            
                    </form>
                    </div>

                    <div id="menu9" class="tab-pane fade">
                        <h3>Metodología de Ventas Comparables de Mercado</h3>
                        <form>
                            
                            <div class="form-group">
                                <label>Fuente de datos del costo</label><br>
                                <input type="radio" name="fuente" value="fuente"> Manual<br>
                                <input type="radio" name="fuente" value="fuente"> Contratista Local<br>
                                <input type="radio" name="fuente" value="fuente"> Otro<br>
                            </div>
    
                            <div class="form-group">
                                <label>Valor del Terreno</label><br>
                                <input type="text" mask="comma_separator" name="val" value="val" placeholder="Introduzca el valor"><br>
                            </div>
    
                            <div class="form-group">
                                <label>Metros Cuadrados del Inmueble</label><br>
                                <input type="text" [(ngModel)]="metrosI" mask="comma_separator" name="metros" value="metros" placeholder="Introduzca la cantidad"><br>
                            </div>

                            <div class="form-group">
                                <label>Costo por Metros Cuadrados (Inmueble)</label><br>
                                <input type="text" [(ngModel)]="costoMI" mask="comma_separator" name="cosm" value="cosm" placeholder="Introduzca el valor"><br>
                            </div>

                            <div class="form-group">
                                <label>Metros Cuadrados de Terraza</label><br>
                                <input type="text" [(ngModel)]="metrosT" mask="comma_separator" name="metroos" value="metroos" placeholder="Introduzca la cantidad"><br>
                            </div>

                            <div class="form-group">
                                <label>Costo por Metros Cuadrados (Terraza)</label><br>
                                <input type="text" [(ngModel)]="costoMT" mask="comma_separator" name="cosm" value="cosm" placeholder="Introduzca el valor"><br>
                            </div>

                            <button (click)="add()" class="btn btn-lg btn-primary">
                                Calcular Costos Totales
                            </button>

                            <div class="form-group">
                                <label>Costo Inmueble</label><br>
                                <p> {{costoI}} </p>
                            </div>

                            <div class="form-group">
                                <label>Costo Terraza</label><br>
                                <p> {{costoT}} </p>
                            </div>

                            <div class="form-group">
                                <label>Valor Total</label><br>
                                <p> {{costo}} </p>
                            </div>

                            <button type="submit" class="btn btn-primary">Guardar</button>
                
                        </form>
                        </div>

                        <div id="menu10" class="tab-pane fade">
                            <h3>Enfoque de Ventas Comparables</h3>
                            <form class="comp">

                                <div class="comparable">
                                    <h4>Comparable #1</h4>
                                
                                <div class="form-group">
                                    <label>Descripción</label><br>
                                    <input type="text" name="Descripción" placeholder="Descripción"><br>
                                </div>

                                <div class="form-group">
                                    <label>Dirección</label><br>
                                    <input type="text" name="direc" placeholder="Dirección"><br>
                                </div>

                                <div class="form-group"> 
                                    <label>Fecha de la venta</label><br>
                                    <input type="date" name="fv" ><br>
                                </div>

                                <div class="form-group">
                                    <label>Precio de la venta</label><br>
                                    <input type="text" mask="comma_separator" name="Pv" placeholder="Introduzca monto"><br>
                                </div>

                                <div class="form-group">
                                    <label>Tamaño</label><br>
                                    <input type="text"  name="tam" placeholder="Introduzca monto"><br>
                                </div>

                                <div class="form-group">
                                    <label>Precio por M2</label><br>
                                    <input type="text" mask="comma_separator" name="Pm" placeholder="Introduzca monto"><br>
                                </div>

                                <div class="form-group">
                                    <label>Condición de Antigüedad</label><br>
                                    <input type="text" name="antiguedad" placeholder="Condición Antigüedad"><br>
                                </div>

                                <div class="form-group">
                                    <label>Estilo</label><br>
                                    <input type="text" name="estilo" placeholder="Estilo"><br>
                                </div>

        
                                <div class="form-group">
                                    <label>Habitaciones</label><br>
                                    <input type="text" mask="00" name="habii" value="habii" placeholder="No. de habitaciones"><br>
                                </div>

                                <div class="form-group">
                                    <label>Baños</label><br>
                                    <input type="text" mask="00" name="banio" value="banio" placeholder="No. de habitaciones"><br>
                                </div>

                                <div class="form-group">
                                    <label>No. de Parqueos</label><br>
                                    <input type="text" mask="00" name="park" value="park" placeholder="No. de parqueos"><br>
                                </div>

                                <div class="form-group">
                                    <label>Condición Física</label><br>
                                    <input type="text" name="física" placeholder="Condición física"><br>
                                </div>

                                <div class="form-group">
                                    <label>Valores Ajustados</label><br>
                                    <input type="text" mask="comma_separator" name="va" placeholder="Introduzca monto"><br>
                                </div>
                            </div>

                                <div class="comparable">
                                        <h4>Comparable #2</h4>
                                        <div class="form-group">
                                                <label>Descripción</label><br>
                                                <input type="text" name="Descripción2" placeholder="Descripción"><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>Dirección</label><br>
                                                <input type="text" name="direc2" placeholder="Dirección"><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>Fecha de la venta</label><br>
                                                <input type="date" name="fv2" ><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>Precio de la venta</label><br>
                                                <input type="text" mask="comma_separator" name="Pv2" placeholder="Introduzca monto"><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>Tamaño</label><br>
                                                <input type="text"  name="tam2" placeholder="Introduzca monto"><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>Precio por M2</label><br>
                                                <input type="text" mask="comma_separator" name="Pm2" placeholder="Introduzca monto"><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>Condición de Antigüedad</label><br>
                                                <input type="text" name="antiguedad2" placeholder="Condición Antigüedad"><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>Estilo</label><br>
                                                <input type="text" name="estilo2" placeholder="Estilo"><br>
                                            </div>
            
                    
                                            <div class="form-group">
                                                <label>Habitaciones</label><br>
                                                <input type="text" mask="00" name="habii2" value="habii2" placeholder="No. de habitaciones"><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>Baños</label><br>
                                                <input type="text" mask="00" name="banio2" value="banio2" placeholder="No. de habitaciones"><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>No. de Parqueos</label><br>
                                                <input type="text" mask="00" name="park2" value="park2" placeholder="No. de parqueos"><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>Condición Física</label><br>
                                                <input type="text" name="física2" placeholder="Condición física"><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>Valores Ajustados</label><br>
                                                <input type="text" mask="comma_separator" name="va2" placeholder="Introduzca monto"><br>
                                            </div>

                                </div>

                                <div class="comparable">
                                        <h4>Comparable #3</h4>
                                        <div class="form-group">
                                                <label>Descripción</label><br>
                                                <input type="text" name="Descripción3" placeholder="Descripción"><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>Dirección</label><br>
                                                <input type="text" name="direc3" placeholder="Dirección"><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>Fecha de la venta</label><br>
                                                <input type="date" name="fv3" ><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>Precio de la venta</label><br>
                                                <input type="text" mask="comma_separator" name="Pv3" placeholder="Introduzca monto"><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>Tamaño</label><br>
                                                <input type="text"  name="tam3" placeholder="Introduzca monto"><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>Precio por M2</label><br>
                                                <input type="text" mask="comma_separator" name="Pm3" placeholder="Introduzca monto"><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>Condición de Antigüedad</label><br>
                                                <input type="text" name="antiguedad3" placeholder="Condición Antigüedad"><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>Estilo</label><br>
                                                <input type="text" name="estilo3" placeholder="Estilo"><br>
                                            </div>
            
                    
                                            <div class="form-group">
                                                <label>Habitaciones</label><br>
                                                <input type="text" mask="00" name="habii3" value="habii3" placeholder="No. de habitaciones"><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>Baños</label><br>
                                                <input type="text" mask="00" name="banio3" value="banio3" placeholder="No. de habitaciones"><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>No. de Parqueos</label><br>
                                                <input type="text" mask="00" name="park3" value="park3" placeholder="No. de parqueos"><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>Condición Física</label><br>
                                                <input type="text" name="física3" placeholder="Condición física"><br>
                                            </div>
            
                                            <div class="form-group">
                                                <label>Valores Ajustados</label><br>
                                                <input type="text" mask="comma_separator" name="va3" placeholder="Introduzca monto"><br>
                                            </div>

                                </div>

        
                                <button type="submit" class="btn btn-primary">Guardar</button>
                    
                            </form>
                            </div>
    
</div>