<ul class="nav nav-pills">
  <li class="active"><a data-toggle="pill" class="general" href="#home">Información General</a></li>
  <li><a data-toggle="pill" href="#menu1">Certificación de Avalúo</a></li>
  <li><a data-toggle="pill" href="#menu2">Informe de Avalúo</a></li>
  <li><a data-toggle="pill" href="#menu3">Descripción de la Vecindad</a></li>
  <li><a data-toggle="pill" href="#menu4">Descripción de la Zona</a></li>
  <li><a data-toggle="pill" href="#menu5">Descripción de las Mejoras</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <form>
      <div class="form-group">
        <label>Descripción del Apartamento o Inmueble</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Descripción">
      </div>
      <div class="form-group">
        <label >Nombre del Tasador</label>
        <input input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el nombre">
        </div>
          <div class="form-group">
              <label >Nombre del Asesor</label>
              <input input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el nombre">
              </div>
            <div class="form-group">
                <label >Nombre del Técnico</label>
                <input input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el nombre">
                </div>
                <div class="form-group">
                    <label>Dirección de la Constructora</label>
                    <input input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la dirección">
                    </div>
                    <div class="form-group">
                        <label>Teléfono de la Constructora</label>
                        <input type='text'  mask="(000) 000 0000" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el teléfono">
                        </div>
                        <div class="form-group">
                            <label >Correo de la Constructora</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          </div>
                          <div class="form-group">
                              <label>Nombre del Cliente</label>
                              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el nombre">
                              </div>
                              <div class="form-group">
                                  <label>Fecha</label>
                                  <input type="date" class="form-control">
                                  </div>
                                  <div class="form-group">
                                      <label>Ciudad</label>
                                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la ciudad">
                                      </div>
                                      <div class="form-group">
                                          <label>País</label>
                                          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el país">
                                          </div>
                                          <div class="form-group">
                                              <label>Nombre del Banco</label>
                                              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el nombre">
                                              </div>
                                              <button type="submit" class="btn btn-primary">Guardar</button>
                                            </form>
                                          </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Certificación de avalúo</h3>
    <form>
        <div class="form-group">
          <label>Designación Catastral No</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el número catastral">
        </div>
        <div class="form-group">
          <label >Matrícula</label>
          <input input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la matrícula">
          </div>
          <div class="form-group">
              <label>Precio</label>
              <input input type="text" mask= "comma_separator" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el precio">
              </div>
              <div class="form-group">
                  <label>Precio en Letra</label>
                  <input type='text'  mask="(000) 000 0000" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el teléfono">
                  </div>
                  <button type="submit" class="btn btn-primary">Guardar</button>
                  </form>

  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Informe de avalúo</h3>
    <form>
        <div class="form-group">
          <label>Propietario</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el nombre">
        </div>
        <div class="form-group">
          <label >Valuador</label>
          <input input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el nombre">
        </div>
        <div class="form-group">
          <label>Dirección</label>
          <input input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la dirección">
        </div>
        <div class="form-group">
            <label>Teléfono</label>
            <input type='text'  mask="(000) 000 0000" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el teléfono">
          </div>
          <div class="form-group">
              <label>Nombre del Cliente</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el nombre del cliente">
          </div>
          <div class="form-group">
            <label>Derechos de propiedad avaluada</label><br>
            <input type="radio" name="propiedad" value="dominio">Pleno dominio.<br>
            <input type="radio" name="propiedad" value="inmueblealquilado">Inmueble alquilado.<br>
            <input type="radio" name="propiedad" value="condominio">Condominio.<br>
            <input type="radio" name="propiedad" value="oupacion">Ocupación/Invasión.<br>
            <input type="radio" name="propiedad" value="otro">Otro/Especifique.
        </div>
        <div class="form-group">
          <label>Ocupado por</label><br>
          <input type="radio" name="propiedad" value="propietario">Propietario.<br>
          <input type="radio" name="propiedad" value="inquilino">Inquilino.<br>
          <input type="radio" name="propiedad" value="desocupado">Desocupado.
      </div>
      <div class="form-group">
        <label>Utilidad del inmueble</label>
        <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la utilidad del inmueble">
       </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
  </div>
  
  <div id="menu3" class="tab-pane fade">
      <h3>Descripción de la vecindad</h3>
      <form>
          <div class="form-group">
              <label>Tipo de vecindad</label><br>
              <input type="radio" name="propiedad" value="urbano">Urbano.<br>
              <input type="radio" name="propiedad" value="rural">Rural.<br>
              <input type="radio" name="propiedad" value="mixto">Mixto.<br>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros">
          </div>

          <div class="form-group">
              <label>Tendencia de la vecindad</label><br>
              <input type="radio" name="propiedad" value="mejorar">A mejorar.<br>
              <input type="radio" name="propiedad" value="estable">Estable.<br>
              <input type="radio" name="propiedad" value="empeorar">A empeorar.<br>
              <input type="radio" name="propiedad" value="tansicion">En transición.
          </div>

          <div class="form-group">
              <label>Comparación con la propiedad del vecindario</label><br>
              <input type="radio" name="propiedad" value="urbano">Inferior.<br>
              <input type="radio" name="propiedad" value="rural">Similar.<br>
              <input type="radio" name="propiedad" value="mixto">Superior.<br>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros">
          </div>

          <div class="form-group">
              <label>Antigüedad promedio de las propiedades del vecindario</label>
              <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la antigüedad promedio de las propiedades del vecindario">
          </div>

          <div class="form-group">
              <label>Área construida</label>
              <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el área construida">
          </div>

          <div class="form-group">
              <label>Oferta </label><br>
              <input type="radio" name="propiedad" value="mucha">Mucha.<br>
              <input type="radio" name="propiedad" value="razonable">Razonable.<br>
              <input type="radio" name="propiedad" value="poca">Poca.
          </div>

          <div class="form-group">
              <label>Demanda</label><br>
              <input type="radio" name="propiedad" value="mucha">Mucha.<br>
              <input type="radio" name="propiedad" value="razonable">Razonable.<br>
              <input type="radio" name="propiedad" value="poca">Poca.
          </div>

          <div class="form-group">
              <label>Deseabilidad de la propiedad</label><br>
              <input type="radio" name="propiedad" value="mucha">Mucha.<br>
              <input type="radio" name="propiedad" value="razonable">Razonable.<br>
              <input type="radio" name="propiedad" value="poca">Poca.
          </div>

          <div class="form-group">
              <label>Distancia a Escuela Primaria</label>
              <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la distancia a Escuela Primaria">
          </div>

          <div class="form-group">
              <label>Distancia a Escuela Secundaria</label>
              <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la distancia a Escuela Secundaria.">
          </div>

          <div class="form-group">
              <label>Distancia al Transporte Público</label>
              <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la distancia al Transporte Público.">
          </div>

          <div class="form-group">
              <label>Distancia a Comercios</label>
              <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la distancia a Comercios.">
          </div>

          <div class="form-group">
              <label>Distancia a Centro de la ciudad</label>
              <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la distancia a Centro de la ciudad.">
          </div>




      <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>

    <div id="menu4" class="tab-pane fade">
        <h3>Descripción de la zona</h3>
        <form>
            <div class="form-group">
                <label>Límites Naturales</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca los límites naturales">
            </div>

            <div class="form-group">
                <label>La zona posee</label><br>
                <input type="radio" name="propiedad" value="callepavimentada">Calle Pavimentada.<br>
                <input type="radio" name="propiedad" value="callesinpavimentar">Calle sin Pavimentar.<br>
                <input type="radio" name="propiedad" value="acera">Acera.<br>
                <input type="radio" name="propiedad" value="contenes">Contenes.<br>
                <input type="radio" name="propiedad" value="alumbradoelectrico">Alumbrado Electrico.<br>
                <input type="radio" name="propiedad" value="televisionporcable">Television por Cable.<br>
                <input type="radio" name="propiedad" value="telefono">Telefono.<br>
                <input type="radio" name="propiedad" value="gas">Gas.<br>
                <input type="radio" name="propiedad" value="aguapotable">Agua Potable.<br>
                <input type="radio" name="propiedad" value="pozoprivado">Pozo Privado.<br>
                <input type="radio" name="propiedad" value="pozopublico">Pozo Publico.<br>
                <input type="radio" name="propiedad" value="alcantarillasanitario">Alcantarillado Sanitario.<br>
                <input type="radio" name="propiedad" value="pozoseptico">Pozo Séptico.<br>
                <input type="radio" name="propiedad" value="alcantarillapluvial">Alcantarilla Pluvial<br>
                <input type="radio" name="propiedad" value="dranajedezanjasabiertas">Drenaje de Zanjas abiertas<br>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros">
            </div>

            <div class="form-group">
                <label>Área</label>
                <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el área">
            </div>

            <div class="form-group">
                <label>Fuente</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la fuente">
            </div>

            <div class="form-group">
                <label>Topografía</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la topografía">
            </div>

            <div class="form-group">
                <label>Configuración</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la configuración">
            </div>

            <div class="form-group">
                <label>Zonificación</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la zonificación">
            </div>

            <div class="form-group">
                <label>Esta conforme con el uso actual de la propiedad</label><br>
                <input type="radio" name="propiedad" value="si">Si.<br>
                <input type="radio" name="propiedad" value="no">No. 
            </div>

            <div class="form-group">
                <label>Paisajismo o área verdes</label><br>
                <input type="radio" name="propiedad" value="excelente">Excelente.<br>
                <input type="radio" name="propiedad" value="buena">Buena. <br>
                <input type="radio" name="propiedad" value="muybuena">Muy Buena.<br>
                <input type="radio" name="propiedad" value="regular">Regular. <br>
                <input type="radio" name="propiedad" value="mala">Mala.<br>
                <input type="radio" name="propiedad" value="inexistente">Inexistente.  
            </div>
            
            <div class="form-group">
                <label>Paisajismo o área verdes</label><br>
                <input type="radio" name="propiedad" value="serviciopublico">Servicios Públicos.<br>
                <input type="radio" name="propiedad" value="depaso">De Paso. <br>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros"> 
            </div>

            <div class="form-group">
                <label>Entrada y Salida de la Marquesina</label><br>
                <input type="radio" name="propiedad" value="privada">Privada.<br>
                <input type="radio" name="propiedad" value="comun">Común. <br>
                <input type="radio" name="propiedad" value="ninguna">Ninguna.<br>
                <input type="radio" name="propiedad" value="unica">Única <br>
                <input type="radio" name="propiedad" value="doble">Doble.<br>
                <input type="radio" name="propiedad" value="adecuada">Adecuada. <br>
                <input type="radio" name="propiedad" value="pavimentada">Pavimentada.<br>
                <input type="radio" name="propiedad" value="hormigonestampado">Hormigon Estampado <br>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros"> 
            </div>

            <div class="form-group">
                <label>Instalación Eléctrica </label><br>
                <input type="radio" name="propiedad" value="subterranea">Subterránea.<br>
                <input type="radio" name="propiedad" value="enpostes">En Postes.<br>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros">
            </div>


            

          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
     </div>

     <div id="menu5" class="tab-pane fade">
        <h3>Descripción de las Mejoras</h3>
        <form>
            <div class="form-group">
                <label>Año de construcción estimado</label>
                <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el año de construcción estimado">
            </div>

            <div class="form-group">
                <label>Construcción terminada</label><br>
                <select>
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select>      
            </div>

            <div class="form-group">
                <label>Área por piso de apartamento </label><br>
                <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el año de construcción estimado Área por piso de apartamento">
            </div>

            <div class="form-group">
                <label> X total</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca la X total">
            </div>

            <div class="form-group">
                <label> Tipo marco ventanas</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduzca el tipo marco ventanas">
            </div>

            <div class="form-group">
                <label>Sótano</label><br>
                <input type="radio" name="propiedad" value="subterranea">Completo.<br>
                <input type="radio" name="propiedad" value="enpostes">Parcial.<br>
                <input type="radio" name="propiedad" value="enpostes">Sótano de pequeña altura.<br>
                <input type="radio" name="propiedad" value="enpostes">Área total.<br>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="m2">
            </div>

            <div class="form-group">
                <label>Tipo inmueble</label><br>
                <input type="radio" name="propiedad" value="subterranea">Asilado.<br>
                <input type="radio" name="propiedad" value="enpostes">En hileras Townhouse.<br>
                <input type="radio" name="propiedad" value="enpostes">Apartamento.<br>
                <input type="radio" name="propiedad" value="enpostes">Duplex.<br>
                <input type="radio" name="propiedad" value="enpostes">Triplex.<br>
                <input type="radio" name="propiedad" value="enpostes">Condominio. 
                
            </div>

            <div class="form-group">
                <label>Estructurado</label><br>
                <input type="radio" name="propiedad" value="subterranea">Un piso.<br>
                <input type="radio" name="propiedad" value="enpostes">2 Piso=.<br>
                <input type="radio" name="propiedad" value="enpostes">Piso en desnivel.   
            </div>

            <div class="form-group">
                <label>Estructurado</label><br>
                <input type="radio" name="propiedad" value="subterranea">Un piso.<br>
                <input type="radio" name="propiedad" value="enpostes">2 Piso=.<br>
                <input type="radio" name="propiedad" value="enpostes">Piso en desnivel.   
            </div>

            <div class="form-group">
                <label>Material de construcción</label><br>
                <input type="radio" name="propiedad" value="subterranea">Madera.<br>
                <input type="radio" name="propiedad" value="enpostes">Acero.<br>
                <input type="radio" name="propiedad" value="enpostes">Bloques de H.A.<br>
                <input type="radio" name="propiedad" value="enpostes">Bloques de Hormigon Armado. 
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros">
            </div>

            <div class="form-group">
                <label>Material de techo</label><br>
                <input type="radio" name="propiedad" value="subterranea">Teja Asfaltica.<br>
                <input type="radio" name="propiedad" value="enpostes">Teja de Barro.<br>
                <input type="radio" name="propiedad" value="enpostes">Cubierta Metalica.<br>
                <input type="radio" name="propiedad" value="enpostes">Losa De H.A. <br>
                <input type="radio" name="propiedad" value="enpostes">Shingles de Cedro <br>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros">
            </div>

            <div class="form-group">
                <label>Revestimiento exterior</label><br>
                <input type="radio" name="propiedad" value="subterranea">Pañete cemento.<br>
                <input type="radio" name="propiedad" value="enpostes">Ladrillo Macizo.<br>
                <input type="radio" name="propiedad" value="enpostes">Piedra/Laja.<br>
                <input type="radio" name="propiedad" value="enpostes">Coralina. <br>
                <input type="radio" name="propiedad" value="subterranea">Pintura.<br>
                <input type="radio" name="propiedad" value="enpostes">Aluminio.<br>
                <input type="radio" name="propiedad" value="enpostes">Vinilo.<br>
                <input type="radio" name="propiedad" value="enpostes">Ladrillo aislante. 
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros">
            </div>

            <div class="form-group">
                <label>Condición general externa</label><br>
                <input type="radio" name="propiedad" value="buena">Buena. <br>
                <input type="radio" name="propiedad" value="muybuena">Muy Buena.<br>
                <input type="radio" name="propiedad" value="regular">Regular. <br>
                <input type="radio" name="propiedad" value="mala">Mala.<br>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros">
            </div>

            <div class="form-group">
                <label>Material del techo</label><br>
                <input type="radio" name="propiedad" value="subterranea">Madera.<br>
                <input type="radio" name="propiedad" value="enpostes">Acero.<br>
                <input type="radio" name="propiedad" value="enpostes">Bloques de H.A.<br>
                <input type="radio" name="propiedad" value="enpostes">Bloques de Hormigon Armado. 
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Otros">
            </div>




        </form>
        </div>
    
</div>