li{
    width: 150px;
    background: rgba(233, 246, 248, 0.842);

    
}


.general{
    margin: auto;
}

a:hover{
    color: #000;
    text-decoration: none;
}
li:hover{
    background: #fff;
    color: #000;
}