<body>
  <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
              <div class="card card-inmueble flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                   <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center">Agregar Inmueble</h5>
                  <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="form-inmueble" autocomplete="off">
  
                      <div class="form-row">
                          <div class="form-group">
                              <label>Identificador del inmueble</label>
                              <input formControlName="nombreInmueble" type="text"  class="form-control" required/> 
                              <div *ngIf="addForm.controls['nombreInmueble'].invalid && addForm.controls['nombreInmueble'].touched" class="validation-error">Este campo es requerido</div>
                          </div>
                      </div>

                      <div class="form-row">
                          <div class="form-group">
                              <label>Precio</label>
                              <input formControlName="precio" type="text" class="form-control"  required/>
                              <div *ngIf="addForm.controls['precio'].invalid && addForm.controls['precio'].touched" class="validation-error">Este campo es requerido</div>
                          </div>
                      </div>

                      <div class="form-row">
                          <div class="form-group">
                              <label>Proyecto </label>
                              <select formControlName="proyectoID" class="form-control" required>
                                  <option *ngFor="let d of data" [ngValue]="d.proyectoID">{{d.nombreProyecto}}</option>
                              </select>
                              <div *ngIf="addForm.controls['proyectoID'].invalid && addForm.controls['proyectoID'].touched" class="validation-error">Este campo es requerido</div>
                          </div>
                      </div>

                      <div class="form-row">
                          <div class="form-group">
                              <label>Descripción</label>
                              <input formControlName="descripcionInmueble" class="form-control" type="text"  required/>
                              <div *ngIf="addForm.controls['descripcionInmueble'].invalid && addForm.controls['descripcionInmueble'].touched" class="validation-error">Este campo es requerido</div>
                          </div>
                      </div>
  
                
                        
                      <button type="submit" [disabled]="addForm.invalid" class="btn btn-lg btn-primary btn-block text-uppercase" >GUARDAR</button>
                  
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
  </body>