<div class="container">
    <div class="col">
      <header>
          <h1>Agregar Inmueble</h1>
      </header>
      <main class="row">
        <img src='' class ="col-6">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="col-6" autocomplete="off">
            <label>Identificador del inmueble</label>
            <input formControlName="nombreInmueble" type="text"  class="form-control" required/> 
            <div *ngIf="addForm.controls['nombreInmueble'].invalid && addForm.controls['nombreInmueble'].touched" class="validation-error">Este campo es requerido</div>
            <hr>
            <label>Precio</label>
            <input formControlName="precio" type="text" class="form-control"  required/>
            <div *ngIf="addForm.controls['precio'].invalid && addForm.controls['precio'].touched" class="validation-error">Este campo es requerido</div>
            <hr> 
            <label>Proyecto </label>
            <select formControlName="proyectoID" class="form-control" required>
                <option *ngFor="let d of data" [ngValue]="d.proyectoID">{{d.nombreProyecto}}</option>
            </select>
            <div *ngIf="addForm.controls['proyectoID'].invalid && addForm.controls['proyectoID'].touched" class="validation-error">Este campo es requerido</div>
            <hr> 
            <label>Descripcion</label>
            <input formControlName="descripcionInmueble" class="form-control" type="text"  required/>
            <div *ngIf="addForm.controls['descripcionInmueble'].invalid && addForm.controls['descripcionInmueble'].touched" class="validation-error">Este campo es requerido</div>
            <hr>
            <button type="submit" [disabled]="addForm.invalid && carForm.invalid" class="btn btn-success">Save</button>
        </form>
        <form [formGroup]= "carForm" class="col-6" autocomplete="off" >
          <label>
            Caracteristicas
          </label>
          <div *ngFor="let c of caracteristicas">
            <input type="checkbox" formControlName="caracteristicaID" class="from-control" value="c.caracteristicaID" required>
            <label>{{c.carNombre}}</label>
          </div>

        </form>

      </main>
    </div>
  </div>