<div class="container">
  <div class="col">
    <header>
        <h1>Nuevo proyecto</h1>
    </header>
    <main class="row">
      <img src='../../assets/proyecto-construcción.jpg' class ="col-6">
      <form class="col-6">
          <label>Nombre del proyecto</label>
          <input type="text" class="form-control" id="Nproyecto"/> 
          <hr>
          <label>Fecha de terminacion</label>
          <input type="date" class="form-control" id="Fterminacion"/>
          <hr>
          <label>Ubicacion</label>
          <select class="form-control" id="Ubicacion">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          <hr>
          <label>Ciudad</label>
          <select class="form-control" id="Ciudad">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
          </select>
          <hr>          
          <label>Direccion</label>
          <input type="text" class="form-control" id="Direccion"/>
          <hr>
          <label>Imagen del proyecto</label>
          <input type = "file" id = "Imagen" accept="imagen">
          <hr>
          <input type="submit" value="Añadir nuevo proyecto">
      </form>
    </main>
  </div>
</div>