<div class="container">
  <div class="col">
    <header>
        <h1>Nuevo proyecto</h1>
    </header>
    <main class="row">
      <img src='../../assets/proyecto-construcción.jpg' class ="col-6">
      <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm.value)" class="col-6">
          <label>Nombre del proyecto</label>
          <input type="text" formControlName="NombreProyecto" class="form-control" id="Nproyecto"/> 
          <hr>
          <label>Fecha de terminacion</label>
          <input formControlName="FechaTerminacion" type="date" class="form-control" id="Fterminacion"/>
          <hr>
          <label>Ubicacion</label>
          <select formControlName="UbicacionID" class="form-control" id="Ubicacion">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          <hr>
          <label>Ciudad</label>
          <select formControlName="Ciudad" class="form-control" id="Ciudad">
                <option>Santo Domingo</option>
                <option>Santiago</option>
                <option>Puerto PLanta</option>
          </select>
          <hr>          
          <label>Direccion</label>
          <input formControlName="Direccion" type="text" class="form-control" id="Direccion"/>
          <hr>
          <label>Imagen del proyecto</label>
          <input formControlName="ImgURL" type = "file" id = "Imagen" accept="imagen">
          <hr>
          <button type="submit" class="btn btn-success">Save</button>
        
      </form>
    </main>
  </div>
</div>