.container{
    max-width: 70%;
    padding-top: 5%;
    padding-left: 5%;
}



label{
    font-size: 15px;
}

input.ng-touched.ng-invalid{
    border-radius: .3rem;
    border-color: #dc3545;
}

h1{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center; 
}

div.validation-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;

}

select.ng-touched.ng-invalid{
    border-radius: .3rem;
    border-color: #dc3545;
}

.upload{
    font-weight:bold;
    color:#28a745;
    margin-left: 15px;
    line-height: 36px;
}

@media (max-width: 544px){
    .container{
        padding-top: 20%;
        padding-left: 25%;

    }
}
