<div class="container">
  <div class="col">
    <header>
        <h1>Nuevo proyecto</h1>
    </header>
    <main class="row">
      <img src='../../assets/proyecto-construcción.jpg' class ="col-6">
      <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="col-6" autocomplete="off">
        <label>Nombre del proyecto</label>
        <input formControlName="nombreProyecto" type="text"  class="form-control" required/> 
        <div *ngIf="addForm.controls['nombreProyecto'].invalid && addForm.controls['nombreProyecto'].touched" class="validation-error">Este campo es requerido</div>
        <hr>
        <label>Fecha de terminacion</label>
        <input formControlName="fechaTerminacion" type="date" class="form-control"  required/>
        <div *ngIf="addForm.controls['fechaTerminacion'].invalid && addForm.controls['fechaTerminacion'].touched" class="validation-error">Este campo es requerido</div>
        <hr> 
        <label>Ubicacion</label>
        <select formControlName="ubicacionID" class="form-control" required>
            <option *ngFor="let d of data" value="{{d.ubicacionID}}">{{d.nombreUbicacion}} -- {{d.ciudad}}</option>
        </select>
        <div *ngIf="addForm.controls['ubicacionID'].invalid && addForm.controls['ubicacionID'].touched" class="validation-error">Este campo es requerido</div>
        <hr> 
        <label>Direccion</label>
        <input formControlName="direccion" class="form-control" type="text"  required/>
        <div *ngIf="addForm.controls['direccion'].invalid && addForm.controls['direccion'].touched" class="validation-error">Este campo es requerido</div>
        <hr>
        <label>Imagen del proyecto</label>
        <input formControlName="imgURL" type = "file"   accept="imagen" required>
        <hr>
        <button type="submit" [disabled]="addForm.invalid" class="btn btn-success">Save</button>
    </form>
    </main>
  </div>
</div>