/* body{
    padding-left: 400px;
    margin: auto;
  } */

  .card-solicitud {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card-solicitud .card-title {
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 30px;
    padding-right: 7%;
    
  }



  .card-solicitud .card-body {
    width:1000px ;
    height:300px ;
    padding-left: 5%;
    margin: auto;
  }
  
  .form-solicitud {
    width: 100%;
  }
  
  .form-solicitud .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
    top: 25px;
    margin-left: 150px;
  }
  
 .declinar{
     right: 10%;
  }
  
.aceptar{
  left: 5%;
}
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
    display: inline;
  }

  h4{
    display: inline;
    font-size: 18px;
    padding-left: 5px;
    font-weight: bold;
    text-align: end;
  }
  
  .form-label-group input {
    height: auto;
    /* border-radius: 2rem; */
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    /* border-radius: .25rem; */
    transition: all .1s ease-in-out;
  }

  .solicitante{
    padding-left: 109px;
  }

  .peticion{
    padding-left: 65px;
  }

  .estado{
    padding-left: 28px;
  }

  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }


  .btn{
    margin-top: 20px;
    margin-left: 230px;
  }

.declinar {
    position: relative;
    /* top:20px; */
    margin-left: 100px;

    
    
  }

  .form-row .form-control{
    width: 300px;
  }
  .form-row{
      position: relative;
      left: 30%;
      bottom: -20px;
  }

  div.info{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;

}