<body>
  <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
              <div class="card card-inmueble flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                   <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center">Agregar Inmueble</h5>
                  <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="form-inmueble" autocomplete="off">
  
                      <div class="form-row">
                          <div class="form-group">
                              <label>Identificador del inmueble</label>
                              <input formControlName="nombreInmueble" type="text"  class="form-control" minlength="3" maxlength="20" required/> 
                              <div *ngIf="addForm.controls['nombreInmueble'].errors && addForm.controls['nombreInmueble'].touched" class="validation-error">
                                  <div [hidden] = "!addForm.controls['nombreInmueble'].errors.required">
                                      El campo es requerido
                                    </div>
                                    <div [hidden] = "!addForm.controls['nombreInmueble'].errors.minlength">
                                      El campo requiere mas de 3 caracteres  
                                    </div>
                                    <div [hidden] = "!addForm.controls['nombreInmueble'].errors.maxlength">
                                      El nombre debe tener menos de 20 caracteres  
                                    </div>
                              </div>
                          </div>
                      </div>

                      <div class="form-row">
                          <div class="form-group">
                              <label>Precio</label>
                              <input formControlName="precio" type="text" class="form-control" minlength="6" maxlength="9"  required/>
                              <div *ngIf="addForm.controls['precio'].errors && addForm.controls['precio'].touched" class="validation-error">
                                  <div [hidden] = "!addForm.controls['precio'].errors.required">
                                      El campo es requerido
                                    </div>
                                    <div [hidden] = "!addForm.controls['precio'].errors.minlength">
                                      El campo requiere mas de 6 caracteres  
                                    </div>
                                    <div [hidden] = "!addForm.controls['precio'].errors.maxlength">
                                      El nombre debe tener menos de 9 caracteres  
                                    </div>
                              </div>
                          </div>
                      </div>

                      <div class="form-row">
                          <div class="form-group">
                              <label>Proyecto </label>
                              <select formControlName="proyectoID" class="form-control" required>
                                  <option *ngFor="let d of data" [ngValue]="d.proyectoID">{{d.nombreProyecto}}</option>
                              </select>
                              <div *ngIf="addForm.controls['proyectoID'].errors && addForm.controls['proyectoID'].touched" class="validation-error">Este campo es requerido</div>
                          </div>
                      </div>

                      <div class="form-row">
                          <div class="form-group">
                              <label>Descripción</label>
                              <input formControlName="descripcionInmueble" class="form-control" type="text"  minlength="9" maxlength="50" required/>
                              <div *ngIf="addForm.controls['descripcionInmueble'].errors && addForm.controls['descripcionInmueble'].touched" class="validation-error">
                                  <div [hidden] = "!addForm.controls['descripcionInmueble'].errors.required">
                                      El campo es requerido
                                    </div>
                                    <div [hidden] = "!addForm.controls['descripcionInmueble'].errors.minlength">
                                      El campo requiere mas de 9 caracteres  
                                    </div>
                                    <div [hidden] = "!addForm.controls['descripcionInmueble'].errors.maxlength">
                                      El nombre debe tener menos de 50 caracteres  
                                    </div>
                              </div>
                          </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group">
                            <label>Caracteristicas</label>
                            <div *ngFor = "let c of checkbox">
                              <input  [(ngModel)]="c.selected" [ngModelOptions]="{standalone: true}" type="checkbox" value={{c.caracteristicaID}} id={{c.caracteristicaID}} class="form-control" />{{c.carNombre}}
                          </div>
                        </div>
                    </div>

                
                        
                      <button type="submit" (click)="getSelected()"  [disabled]="addForm.invalid" class="btn btn-lg btn-primary btn-block text-uppercase" >GUARDAR</button>
                  
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
  </body>