<body>
  <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
              <div class="card card-editar flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center">Editar Proyecto</h5>
                  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="form-editar" autocomplete="off">
  
                      <div class="form-row">
                          <div class="form-group">
                            <label>Nombre del proyecto</label>
                            <input formControlName="nombreProyecto" type="text"  class="form-control" minlength="5" maxlength="20" required/> 
                            <div *ngIf="editForm.controls['nombreProyecto'].errors && editForm.controls['nombreProyecto'].touched" class="validation-error">
                                <div [hidden] = "!editForm.controls['nombreProyecto'].errors.required">
                                    El campo es requerido
                                </div>
                                <div [hidden] = "!editForm.controls['nombreProyecto'].errors.minlength">
                                    El campo requiere mas de 3 caracteres  
                                </div>
                                <div [hidden] = "!editForm.controls['nombreProyecto'].errors.maxlength">
                                    El nombre debe tener menos de 20 caracteres  
                                </div>
                            </div>
                       </div>
                      </div>


                      <div class="form-row">
                          <div class="form-group">
                            <label>Fecha de terminacion</label>
                            <input formControlName="fechaTerminacion" mwlFlatpickr type="text" class="form-control" [altInput]="true"
                            [convertModelValue]="true"
                            [enableTime]="false"
                            dateFormat="Y-m-dTH:i"
                            altFormat="F j, Y H:i"
                            placeholder="No colocada" required/>
                            <div *ngIf="editForm.controls['fechaTerminacion'].errors && editForm.controls['fechaTerminacion'].touched" class="validation-error">Este campo es requerido</div>
                          </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group">
                          <label>Ubicacion</label>
                          <select formControlName="ubicacionID" class="form-control" required>
                              <option *ngFor="let d of data" value="{{d.ubicacionID}}">{{d.nombreUbicacion}} -- {{d.ciudad}}</option>
                          </select>
                          <div *ngIf="editForm.controls['ubicacionID'].errors && editForm.controls['ubicacionID'].touched" class="validation-error">Este campo es requerido</div>
                        </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group">
                        <label>Direccion</label>
                        <input formControlName="direccion" class="form-control" type="text" minlength="5" maxlength="35"  required/>
                        <div *ngIf="editForm.controls['direccion'].errors && editForm.controls['direccion'].touched" class="validation-error">
                            <div [hidden] = "!editForm.controls['direccion'].errors.required">
                                El campo es requerido
                            </div>
                            <div [hidden] = "!editForm.controls['direccion'].errors.minlength">
                                El campo requiere mas de 5 caracteres  
                            </div>
                            <div [hidden] = "!editForm.controls['direccion'].errors.maxlength">
                                El nombre debe tener menos de 35 caracteres  
                            </div>
                        </div>
                      </div>
                  </div>

                  <div class="form-row">
                      <div class="form-group">
                          <div class="upload-btn-wrapper">
                          <label class="foto" for="file-input">Imagen del proyecto <br> <i class="material-icons"> add_a_photo</i></label>
                          <input (change)="saveFileRequest($event.target.files)" formControlName="imgURL" type = "file" class="imagen" id="file-input"  required>
                          </div>
                      </div>
                  </div>
  
                
                        
                      <button type="submit" [disabled]="addForm.invalid" class="btn btn-lg btn-primary btn-block text-uppercase" >GUARDAR</button>
                  
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
  </body>

