<body>
    <div class="container">
            <div class="row">
              <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-proyecto flex-row my-5">
                  <div class="card-img-left d-none d-md-flex">
                     <!-- Background image for card set in CSS! -->
                  </div>
                  <div class="card-body">
                    <h5 class="card-title text-center">Nuevo proyecto</h5>
                    <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="form-proyecto" autocomplete="off">
    
                        <div class="form-row">
                            <div class="form-group">
                                <label>Nombre del proyecto</label>
                                <input formControlName="nombreProyecto" type="text"  class="form-control" minlength="5" maxlength="20" required/> 
                                <div *ngIf="addForm.controls['nombreProyecto'].errors && addForm.controls['nombreProyecto'].touched" class="validation-error">
                                        <div [hidden] = "!addForm.controls['nombreProyecto'].errors.required">
                                            El campo es requerido
                                        </div>
                                        <div [hidden] = "!addForm.controls['nombreProyecto'].errors.minlength">
                                            El campo requiere mas de 5 caracteres  
                                        </div>
                                        <div [hidden] = "!addForm.controls['nombreProyecto'].errors.maxlength">
                                            El nombre debe tener menos de 20 caracteres  
                                        </div>
                                </div>
                            </div>
                        </div>
  
                        <div class="form-row">
                            <div class="form-group">
                                <label>Fecha de terminación</label>
                                <input formControlName="fechaTerminacion" mwlFlatpickr type="text" class="form-control" [altInput]="true"
                                [convertModelValue]="true"
                                [enableTime]="false"
                                dateFormat="Y-m-dTH:i"
                                altFormat="F j, Y H:i"
                                placeholder="Seleccione una fecha"  required/>
                                <div *ngIf="addForm.controls['fechaTerminacion'].invalid && addForm.controls['fechaTerminacion'].touched" class="validation-error">Este campo es requerido</div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <app-map (Notify)="muestrameLaInfo($event)"></app-map>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label>Dirección</label>
                                <input formControlName="direccion" class="form-control" type="text" minlength="5" maxlength="100"  required/>
                                <div *ngIf="addForm.controls['direccion'].errors && addForm.controls['direccion'].touched" class="validation-error">
                                        <div [hidden] = "!addForm.controls['direccion'].errors.required">
                                                El campo es requerido
                                            </div>
                                            <div [hidden] = "!addForm.controls['direccion'].errors.minlength">
                                                El campo requiere mas de 5 caracteres  
                                            </div>
                                            <div [hidden] = "!addForm.controls['direccion'].errors.maxlength">
                                                El nombre debe tener menos de 100 caracteres  
                                            </div>
                                </div>
                            </div>
                        </div> 

                        <div class="form-row">
                            <div class="form-group">
                                <div class="upload-btn-wrapper">
                                <label class="foto" for="file-input">Imagen del proyecto <br> <i class="material-icons"> add_a_photo</i></label>
                                <input (change)="saveFileRequest($event.target.files)" formControlName="imgURL" type = "file" class="imagen" id="file-input" accept="image/*"  required>
                                </div>
                            </div>
                        </div>
    
                  
                          
                        <button type="submit" [disabled]="addForm.invalid" class="btn btn-lg btn-primary btn-block text-uppercase" >GUARDAR</button>
                    
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </body>

