<body>
  <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
              <div class="card card-editar flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center">Editar Caracteristica</h5>
                  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="form-editar" autocomplete="off">
  
                      <div class="form-row">
                          <div class="form-group">
                            <label>Caracteristica</label>
                            <input formControlName="carNombre" type="text"  class="form-control" minlength="3" maxlength="20" required/> 
                            <div *ngIf="editForm.controls['carNombre'].errors && editForm.controls['carNombre'].touched" class="validation-error">
                                <div [hidden] = "!editForm.controls['carNombre'].errors.required">
                                    El campo es requerido
                                  </div>
                                  <div [hidden] = "!editForm.controls['carNombre'].errors.minlength">
                                    El campo requiere mas de 3 caracteres  
                                  </div>
                                  <div [hidden] = "!editForm.controls['carNombre'].errors.maxlength">
                                    El nombre debe tener menos de 20 caracteres  
                                  </div>
                            </div>
                       </div>
                      </div>


                      <div class="form-row">
                          <div class="form-group">
                            <label>Descripcion</label>
                            <input formControlName="carDescripcion" type="text" class="form-control" minlength="9" maxlength="50" required/>
                            <div *ngIf="editForm.controls['carDescripcion'].errors && editForm.controls['carDescripcion'].touched" class="validation-error">
                                <div [hidden] = "!editForm.controls['carDescripcion'].errors.required">
                                    El campo es requerido
                                  </div>
                                  <div [hidden] = "!editForm.controls['carDescripcion'].errors.minlength">
                                    El campo requiere mas de 9 caracteres  
                                  </div>
                                  <div [hidden] = "!editForm.controls['carDescripcion'].errors.maxlength">
                                    El nombre debe tener menos de 50 caracteres  
                                  </div>
                            </div>
                          </div>
                      </div>
  
                
                        
                      <button type="submit" [disabled]="addForm.invalid" class="btn btn-lg btn-primary btn-block text-uppercase" >GUARDAR</button>
                  
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
  </body>


