<div style="position: absolute; left:46%; top: 7%;">
  <strong><p style="color:white" class="text-center app-title">BRICK</p></strong>
  <p style="color:white; margin-top: -20px" class="text-center app-title">ADMIN SITE</p>
</div>
<div class="row shadow superior-card">
    
</div>
<div class="row">

</div>
<div class="signin-content left" style="position: absolute; top:-7%; left:30%">
  <mat-card >
    <mat-card-content style="padding-left: 5%; padding-right: 5%; padding-bottom: 10%">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <img class="img-fluid" width="100" src="/assets/user-icon.png" alt="">
        <br>
        <br>
        <p>LOGIN</p>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Correo" formControlName="email" required>
          <mat-error *ngIf="isFieldInvalid('email')">
            Por favor ingresa tu correo
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Contraseña" formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('email')">
            Por favor ingresa tu contraseña
          </mat-error>
        </mat-form-field>
        <div class="row d-flex justify-content-center">
          <br>
            <button mat-raised-button style="background-color: #2f8ce2; color:white" [ngClass]="{'hide':hideenButton==true}">Acceder</button> &nbsp; &nbsp;
            <mat-spinner [ngClass]="{'hide':hidden==true}" class="spinner"[diameter]="40"></mat-spinner>
          </div>
        <div style="margin-top:10px;" class="row d-flex justify-content-center">
            <br> <br>
            <p>¿Olvidaste tu contraseña?</p>
        </div>
        
      </form>
      <br>
      <br>
      <br>
    </mat-card-content>
  </mat-card>
</div>
