
<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>Inicia sesión para continuar.</p>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Correo" formControlName="email" required>
          <mat-error *ngIf="isFieldInvalid('email')">
            Por favor ingresa tu correo
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Contraseña" formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('email')">
            Por favor ingresa tu contraseña
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Acceder</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>