mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    margin-top: 80px;
  }
  .signin-content {
    padding: 60px 1rem;
  }
  .full-width-input {
    width: 100%;
  }

.hide {
  display: none;
}

