<div class="container">
    <h2>Editar Post</h2>
    <br>
  <label>Título</label>
  <br>
  <input id="carNombre" formControlName="nombreServicio" type="text"  class="form-control" minlength="5" maxlength="50" required/> 
  <br>
  <label>Contenido</label>
  <app-ngx-editor [placeholder]="'Enter text here...'" height="200px" minHeight="100px"  [spellcheck]="true" [(ngModel)]="htmlContent"></app-ngx-editor>
  <br>
  <div class="upload-btn-wrapper">
    <label class="foto" for="file-input">Imagen del proyecto <br> <i class="material-icons"> add_a_photo</i></label>
    <input (change)="saveFileRequest($event.target.files)" type = "file" class="imagen" id="file-input"  required>
    </div>
  <br>
  <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase" >Publicar</button>
  <br>
  </div>