<body>
    <div class="container">
            <div class="row">
              <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-solicitud flex-row my-5">
                  <div class="card-body">
                    <h5 class="card-title text-center">Descripción de la Solicitud</h5>
                    Solicitante<br>
                    <label>{{data?.solicitud?.usuario?.nombreUsuario}} {{data?.solicitud?.usuario?.apellidosUsuario}}</label>
                    <br>
                    Servicio Solicitado
                    <br>
                    <label>{{data?.servicio?.nombreServicio}}</label>
                    <br>
                    Fecha en la que se realizó la Solicitud
                    <br>
                    <label>{{data?.solicitud?.fechaServSol | date:'dd/MM/yyyy'}}</label>
                    <br>
                    Comentarios del cliente
                    <br>
                    <label>{{data?.solicitud?.comentario}}</label>
                    <br>
                    Fecha y hora de reunión propuesta por el cliente
                    <br>
                    <label>{{data?.solicitud?.fechaSol | date:"dd/MM/yyyy HH:mm aa"}}</label>

                    <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="form-solicitud" autocomplete="off">
    
                        <div class="form-row">
                          <div class="form-group">
                            <label>Fecha y hora de inicio</label>
                            <input formControlName="hora_Inicio"  mwlFlatpickr type="text" class="form-control" [altInput]="true"
                            [convertModelValue]="true"
                            [enableTime]="true"
                            dateFormat="Y-m-dTH:i"
                            altFormat="F j, Y H:i"
                            placeholder="Not set"  required/>
                        </div>
                        </div>
  
                        <div class="form-row">
                            <div class="form-group">
                                <label>Fecha y hora de conclusión</label>
                                <input formControlName="hora_Fin"  mwlFlatpickr type="text" class="form-control" [altInput]="true"
                                [convertModelValue]="true"
                                [enableTime]="true"
                                dateFormat="Y-m-dTH:i"
                                altFormat="F j, Y H:i"
                                placeholder="Not set"
                                required/>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-sm aceptar" [disabled]="addForm.invalid">Aceptar</button>
                        <button class="btn btn-danger btn-sm declinar" (click) = "rechazar()">Declinar</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </body>
