<div class="row">
    <label for="place">Ubicación</label>
    <input type="text" id="place" ng-click="searchControl=''"  class="form-control" placeholder="escribe una ubicación" #search [formControl]="searchControl" autocomplete="off" autocapitalize="off" spellcheck="off">
</div>

<div class="">
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" style="height: 100px;">
        <agm-marker  [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
</div>


