/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.navbar{
    width: 1200px;

}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #7386D5;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.btn{
    color: #fff;
    width: 200px;
    padding-left:8px;
    font-size: 17px;
    text-align: left;
}



.btn-link:hover { 
    text-decoration: none; 
    background-color: #fff;
}

ngb-panel{
    width: 50px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}


