
<div  *ngIf="isLoggedIn$ | async as isLoggedIn">
<aside class="sidebar-left-collapse">
        <a href="#" class="company-logo"></a>
        <div class="sidebar-links">
          <ul>
         <!--  <li *ngIf = "data.roleId == 1" class="nav-item active">
              <i class="fas fa-user" id="usuario"></i>{{data?.nombreUsuario}} 
          </li> -->
        </ul>

        <div class="link-white">
          <a  href = "{{inicio()}}">Pagina Principal</a>
          </div>

          <div class="link-blue selected">
            <p>Servicios <i class="material-icons dropdown">
                </i></p>
            
            
            <ul class="sub-links">
              <li><a routerLink='Agregar Servicio'>Agregar Servicio</a></li>
              <li><a routerLink='Administrar Solicitudes'>Administrar Solicitudes</a></li>
              <li><a routerLink='Administrar Peticiones'>Admministrar Peticiones</a></li>
              <li><a routerLink='Visitas Agendadas'>Visitas Agendadas</a></li>
              <li><a routerLink='tasacion'>Formularios Tasación</a></li>
              
            </ul>
          </div>
      
          <div class="link-red">
              <p>Administrar Contenido Página <i class="material-icons dropdown2">
                </i></p>
      
            <ul class="sub-links">
                   <!--  <li>
                        <a routerLink='Agregar Proyecto'>Agregar Proyecto</a>
                        </li>
                        <li>
                            <a  routerLink='Agregar Inmueble'>Agregar Inmueble</a>
                        </li>
                        <li>
                            <a  routerLink='Agregar Caracteristica'>Agregar Característica</a>
                        </li>
                        <li>
                          <a  routerLink='Categorias Foro'>Categorías del Foro</a>
                      </li>
                      <li>
                        <a  routerLink='datos-genericos'>Datos Génericos</a>
                      </li>
                      <li>
                          <a  routerLink='Listar'>Listar</a>
                      </li> -->
                      <li>
                        <a routerLink='proyectos'>Proyectos</a>
                      </li>
                      <li>
                        <a routerLink='inmuebles'>Inmuebles</a>
                      </li>
                      <li>
                          <a routerLink='caracteristicas'>Caracteristicas</a>
                      </li>
                      <li>
                          <a routerLink='servicios'>Servicios</a>
                      </li>
                      <li>
                          <a routerLink='temas-foros'>Temas Foros</a>
                      </li>
                      <li>
                          <a routerLink='datos-genericos'>Datos Genéricos</a>
                      </li>
            </ul>
          </div>
      
          <div class="link-white">
            <a  routerLink="Agregar Post">Blog</a>
            </div>

            <div class="link-white">
                <a href="#"> Foro</a>
              </div>
      
        </div>
      
      </aside>
    </div>
      <!-- <div class="main">
        <router-outlet></router-outlet>        
      </div> -->

  

