
  
 
<aside class="sidebar-left-collapse">
        <a href="#" class="company-logo"></a>
        <div class="sidebar-links">
          <ul>
          <li class="nav-item active">
              <i class="fas fa-user" id="usuario"></i> Administrador
          </li>
        </ul>
          <div class="link-blue selected">
            <p>Servicios <i class="material-icons dropdown">
                arrow_drop_down
                </i></p>
            
            
            <ul class="sub-links">
              <li><a routerLink='Agregar Servicio'>Agregar Servicio</a></li>
              <li><a routerLink='Administrar Solicitudes'>Administrar Solicitudes</a></li>
              <li><a routerLink='Visitas Agendadas'>Visitas Agendadas</a></li>
              
            </ul>
          </div>
      
          <div class="link-red">
              <p>Administrar Página <i class="material-icons dropdown2">
                  arrow_drop_down
                  </i></p>
      
            <ul class="sub-links">
                    <li>
                            <a routerLink='Agregar Proyecto'>Agregar Proyecto</a>
                        </li>
                        <li>
                            <a  routerLink='Agregar Inmueble'>Agregar Inmueble</a>
                        </li>
                        <li>
                            <a  routerLink='Agregar Caracteristica'>Agregar Característica</a>
                        </li>
                        <li>
                            <a  routerLink='Listar'>Listar</a>
                        </li>
            </ul>
          </div>
      
          <div class="link-yellow">
            <a href="#">Administrar Carrusel</a>
          </div>
      
          <div class="link-green">
            <a href="#">Actualizar Contacto</a>
          </div>

          <div class="link-white">
              <a href="#">Blog</a>
            </div>

            <div class="link-white">
                <a href="#"> Foro</a>
              </div>
      
        </div>
      
      </aside>

  
<router-outlet></router-outlet>
