

<aside class="sidebar-left-collapse">
        <a href="#" class="company-logo"></a>
        <div class="sidebar-links">
          <ul>
          <li class="nav-item active">
              <i class="fas fa-user" id="usuario"></i> {{data?.nombreUsuario}}
          </li>
        </ul>

        <div class="link-white">
          <a  href = "{{inicio()}}">Pagina Principal</a>
          </div>

          <div class="link-blue selected">
            <p>Servicios <i class="material-icons dropdown">
                </i></p>
            
            
            <ul class="sub-links">
              <li><a routerLink='Agregar Servicio'>Agregar Servicio</a></li>
              <li><a routerLink='Administrar Solicitudes'>Administrar Solicitudes</a></li>
              <li><a routerLink='Administrar Peticiones'>Admministrar Peticiones</a></li>
              <li><a routerLink='Visitas Agendadas'>Visitas Agendadas</a></li>
              
            </ul>
          </div>
      
          <div class="link-red">
              <p>Administrar Página <i class="material-icons dropdown2">
                  </i></p>
      
            <ul class="sub-links">
                    <li>
                            <a routerLink='Agregar Proyecto'>Agregar Proyecto</a>
                        </li>
                        <li>
                            <a  routerLink='Agregar Inmueble'>Agregar Inmueble</a>
                        </li>
                        <li>
                            <a  routerLink='Agregar Caracteristica'>Agregar Característica</a>
                        </li>
                        <li>
                          <a  routerLink='Categorias Foro'>Categorías del Foro</a>
                      </li>
                        <li>
                            <a  routerLink='Listar'>Listar</a>
                        </li>
            </ul>
          </div>
      
          <div class="link-white">
            <a  routerLink="Agregar Post">Blog</a>
            </div>

            <div class="link-white">
                <a href="#"> Foro</a>
              </div>
      
        </div>
      
      </aside>

      <!-- <div class="main">
        <router-outlet></router-outlet>        
      </div> -->

  

