h3 {
    margin: 0 0 10px;
    font-size: 35px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

  /* body{
    padding-top: 120px;
    padding-left: 420px;
    padding-right: 320px;
  } */

  .btn{
    background: #2f8ce2;
    border-color: #2f8ce2;
  }

  @media (max-widht: 800px){

  body{
    margin-left: 10%;
  }

.mes h3{
  margin-left:50%;
}

}