.company-logo{
    background-image: scroll center url('src\assets\brick2.jpeg');
    background-size: cover;
    /* width: 80px; */
  }

a:link 
{ 
  text-decoration:none; 
} 

::ng-deep .mat-menu-panel {width: 100%!important; padding: 0 10px!important;} 